<!--doctype html-->
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE-edge">
<meta name="viewport" content="width=device-width, intial-scale=1.0">
<title>Personal Website</title>
<link rel="shortcut icon" href="static/icon.png">
<link rel="stylesheet" href="static/style.css">
<script src="https://kit.fontawesome.com/a36196c970.js" crossorigin="anonymous"></script>
</head>
<body>
  <section id="main">
  <nav>

	<div class="toggle"></div>
	<ul class="menu">
	<li class="active"><a href="#main">Home</a></li>

	<li><a href="#about">About</a></li>
	<li><a href="#projects">Projects</a></li>
	<li><a href="#skills">Skills</a></li>
	<li><a href="#contact-btn">Contact</a></li>
	</ul>

	</nav>
  
        <div class="name">
          <p>Hello</p>
         <h1>I'm <font color="#17d1ac">Sindhu </font> G</h1>
         <p>Software Engineer</p>

        <a href="https://drive.google.com/file/d/0B_pBsnByYU2xc3RhcnRlcl9maWxl/view?usp=sharing&resourcekey=0-U3TNAGPK6GTqyo-EgP16Qw" class="cv-btn" >Download Resume</a>
        </div>
         </div>
  <div class="social">

	  <button class="btn"><a href="#"><i class="far fa-envelope"></i></a> </button>
    <button class="btn"><a href="#"><i class="fab fa-linkedin"></i></a> </button>


  </div>
  <div class="arrow">
  </div>
  </section>
  <section id="about">
    <div class="about-text">
      <h1>About Me</h1>
	    <h2>Software Engineer</h2>
      <p>Working on the application in cloud across three hyper scalars AWS, Azure, GCP
        Working on AWS cloud platform as Automation tester for UI and API testing.
        I have experience in designing and developing websites web applications.
        Good knowledge on AWS Cloud platform and AWS DevOps tools.
     </p>
      <button>View More Details</button>

    </div>
    <div class="circular--portrait">
      <img alt="model" src="static/about-model.jpg" class="photo" width="500" height="500"  alt="model"/>
	  </div>
</section>

<section id="projects">
  <div class="p-heading">
    <h1>Projects</h1>
	   <p>Here Is The Some Projects Which I have worked on</p>
	</div>
  <div class="p-b-container">
    <div class="p-box">
      <div class="p-b-img">

        <div class="overlay-text">
	      <h1>Deployment of Kubernetes Cluster on AWS Cloud using Kops</h1>
	       <p>Creating Kubernetes cluster on AWS cloud and comparing with other three cloud service providers.</p>
	      </div>
        <div class="s-type">Project1 </div>

        <img src="static/w1.jpg">
        </div>
       <div class="s-b-text">
       <a href="#">Deployment of Kubernetes Cluster on AWS Cloud using Kops</a>
       </div>
     </div>
       <div class="p-box">
         <div class="p-b-img">

           <div class="overlay-text">
	          <h1>Framework For Storage Provision And Qualification</h1>
	          <p>Implement a NATE based service that enables calling Perl EnGenX
APIs in Python. Client APIs to service which interacts with a service
running on an endpoint</p>
	          </div>

           <div class="s-type">Project 2</div>
           <img src="static/w2.jpg">
           </div>
          <div class="s-b-text">
          <a href="#">Framework For Storage Provision And Qualification</a>
          </div>
      </div>
      <div class="p-box">
        <div class="p-b-img">

         <div class="overlay-text">
         <h1>Communication of Raspberry Pi and Arduino in a
heterogeneous Wireless Sensor Network</h1>
	       <p>A Heterogeneous wireless network is created using 7 Raspberry Pis, 2 Arduino and 2 Node MCU</p>
	       </div>

          <div class="s-type">Project 3</div>
          <img src="static/w3.jpg">
          </div>
         <div class="s-b-text">
         <a href="#">Communication of Raspberry Pi and Arduino in a
heterogeneous Wireless Sensor Network</a>
         </div>
     </div>
     <div class="p-box">
       <div class="p-b-img">

         <div class="overlay-text">
	        <h1>Continuous delivery on AWS cloud</h1>
	         <p>Continuous delivery pipeline for a simple web application. Used a
version control system to store your source code</p>
	        </div>

         <div class="s-type">Project 4</div>
         <img src="static/w4.jpg">
         </div>
        <div class="s-b-text">
        <a href="#">Continuous delivery on AWS cloud</a>
        </div>
    </div>


</div>
</section>
<section id="skills">
  <div class="skills-text1">

    <h1><u>Skills</u></h1>

      <div class="skills-pro">
               <div class="skills__skill">HTML</div>
               <div class="skills__skill">CSS</div>
               <div class="skills__skill">JavaScript</div>
               <div class="skills__skill">React</div>
               <div class="skills__skill">Docker</div>
               <div class="skills__skill">GIT</div>
               <div class="skills__skill">Kubernetes</div>
               <div class="skills__skill">AWS</div>
               <div class="skills__skill">Python</div>
               <div class="skills__skill">Jenkins</div>
               <div class="skills__skill">Arduino</div>
               <div class="skills__skill">Raspberry Pi</div>
      </div>

   </div>
</section>

<section id="contact-btn">
	<h1 class="c-b-heading">If You Have Any Project In Your Mind ?</h1>
		<button type="button" onclick="alert('hello')">Contact Me</button>
	</section>

	<section id="contact-form">
	<form method="POST" action="thanku.html">
	<div class="contact-left">
	 <h1 class="c-l-heading"><font style="border-bottom: 3px solid #1ED98B;">Writ</font>e us</h1>
	  <div class="f-name">
	   <font >Name</font>
	   <input type="text" placeholder="Full Name"/>
	  </div>

	  <div class="f-email">
	   <font >Email</font>
	    <input type="email" placeholder="example@gmail.com"/>
	   </div>
	 </div>

	<div class="contact-right">
		<div class="message">
	   <font >Message</font>
	    <textarea name="message" rows="5" cols="20" placeholder="Write Message..."></textarea>
	  </div>
    <button>submit</button>
	</div>

	</form>
	</section>

  <script type="text/javascript" src="JQuery.js"></script>
  <script type="text/javascript">

      /*Responsive Navigation*/
    $(document).ready(function(){
   $('.toggle').click(function(){
     $('.toggle').toggleClass('active')

     $('nav ul').toggleClass('active-menu')


   })
  });

  </script>











</body>
</html>
